.container
	.row
		.col-xs-12
			h1 404
			h3 Whoops. Looks like what you're looking for can't be found. Try going 
				a(href="/") home 
				span or to the 
				a(href="#{githubURL}" target="_blank") GitHub repo.
