doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		!= partial("_partials/_favicons")
		title= title
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:n,i,b")
		link(rel="stylesheet" href=(environment == "production" ? "/watchlist/main.css" : "/main.css"))
	body
		!= partial("_partials/_header")
		!= yield
		!= partial("_partials/_modal")
		script(src=(environment == "production" ? "/watchlist/js/app.js" : "/js/app.js"))
		if environment == "production"
			!= partial("_partials/_analytics")
