doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="theme-color" content="#222")
		title #{title}
		link(rel="stylesheet" href=(environment == "production" ? "/watchlist/main.css" : "/main.css"))
	body
		!= partial("_partials/_header")
		!= yield
		!= partial("_partials/_modal")
		!= partial("_partials/_footer")
		script(src=(environment == "production" ? "/watchlist/js/app.js" : "/js/app.js"))
