doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="theme-color" content="#0d0d0d")
		title #{title}
		if environment == "production"
			link(rel="stylesheet" href="/watchlist/main.css")
		else
			link(rel="stylesheet" href="/main.css")
	body
		!= partial("_partials/_header")
		!= yield
		if environment == "production"
			script(src="/watchlist/js/app.js")
		else
			script(src="/js/app.js")
