.container-fluid
	.row
		for movie, index in movies
			.col-lg-3.col-md-4.col-sm-6.col-xs-12
				span(class="movie" title=(movie['watched'] ? "watched" : undefined))
					input(type="checkbox" name="#{index}" id="#{index}" checked=(movie['watched'] ? "checked" : undefined))
					label(for="#{index}")= index
