@import 'sass/_mixins_variables.sass'
@import 'sass/_bootstrap.scss'

body
	margin-top: 7rem

.navbar
	color: $light-color
	h1
		margin: 10px 0
		font-size: $medium-margin
	span
		a
			margin-left: $tiny-margin
			img
				margin-top: -3px
				height: $medium-margin

#count
	margin: $medium-margin auto

.movie
	background-color: lighten($text-color, 85%)
	display: inline-block
	margin: 0 0 7px
	padding: 4px 6px 6px 4px
	border-radius: 8px
	transition: all 0.25s
	input[type="checkbox"], label
		vertical-align: middle
		cursor: pointer
	input[type="checkbox"]
		margin: 0 3px 0 0
	label
		margin: 0
		font-weight: normal
		user-select: none
	&[title="watched"]
		opacity: 0.5

#overlay
	position: fixed
	top: 0
	width: 100%
	height: 100%
	display: flex
	align-items: center
	visibility: hidden
	opacity: 0
	transition: all 0.75s 0.125s
	#modal
		.panel
			margin-bottom: 0
			.row
				display: flex
				align-items: center
				p
					margin-bottom: 0
					&#details
						margin-bottom: $medium-margin
			.panel-body
				max-height: 450px
				color: $light-color
				background-size: cover
				#title
					margin-top: 0
				a
					color: inherit
				.overlay
					position: fixed
					top: 0
					left: 0
					width: 100%
					height: 100%
					background-color: transparentize($text-color, 0.25)
				#genres
					margin-bottom: $medium-margin
					.genre
						background-color: darken($light-color, 0.5)
						color: $text-color
						margin-right: $tiny-margin
						padding: $tiny-margin
						border-radius: $tiny-margin
						font-weight: bold
						text-transform: uppercase
				img
					max-height: 420px
					width: 100%
					object-fit: contain
					&#star
						width: 16px
						margin-top: -$tiny-margin
						margin-right: $tiny-margin
	&.open
		visibility: visible
		opacity: 1

@include media-query($medium-width)
	#overlay
		#modal
			width: 100%
			.panel
				.panel-body
					max-height: none
					img
						max-height: 210px
					#title
						font-size: 24px
						margin-top: 20px
					#genres, #details
						margin-bottom: $medium-margin / 2
				.row
					display: block
					.col-xs-4, .col-xs-8
						width: 100%
