@import 'sass/_bootstrap.scss'
@import 'sass/_mixins_variables.sass'

html
	position: relative
	min-height: 100%

body
	font-family: $sans-font-family
	color: $dark-color
	margin-top: $footer-height * 2
	margin-bottom: $footer-height

.navbar
	color: $light-color
	margin-bottom: 0
	span
		img
			margin-top: -3px
			height: 36px

footer
	position: absolute
	bottom: 0
	width: 100%
	height: $footer-height
	background-color: transparentize($light-color, 0.75)
	p
		margin-bottom: 0
		line-height: $footer-height
	a
		color: inherit

.movie
	position: relative
	background-color: lighten($dark-color, 85%)
	padding: 4px 6px 6px 4px
	border-radius: 8px
	transition: all 0.15s
	input[type="checkbox"], label
		vertical-align: middle
		cursor: pointer
	input[type="checkbox"]
		margin: 0 3px 0 0
	label
		margin: 7px 0
		font-weight: normal
		user-select: none
	&.watched
		opacity: 0.5

#overlay
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	display: none
	#modal
		flex: none
		.panel-body
			max-height: 450px
			margin-bottom: 0
			color: $light-color
			background-size: cover
			a
				color: inherit
			.overlay
				position: fixed
				top: 0
				left: 0
				width: 100%
				height: 100%
				background-color: transparentize($dark-color, 0.25)
			#genres
				margin-bottom: $medium-margin
				.genre
					background-color: darken($light-color, 0.5)
					color: $dark-color
					margin-right: $tiny-margin
					padding: $tiny-margin
					border-radius: $tiny-margin
					font-weight: bold
					text-transform: uppercase
		img
			max-height: 420px
			width: 100%
			object-fit: contain
			&#star
				width: 16px
				margin-top: -$tiny-margin
				margin-right: $tiny-margin
		.row
			display: flex
			align-items: center
			p
				margin-bottom: $small-margin
				&#details
					margin-bottom: $medium-margin
	&.open
		display: flex
		align-items: center
