@import '_sass/_mixins_variables.sass'
@import '_sass/_bootstrap.scss'

body
	margin-top: 5rem
	padding: 0 1.5rem

a
	text-decoration-skip: ink

.navbar
	color: $light-color
	border: 0
	margin: 0
	h1
		margin: 8px 0
		font-size: $medium-margin
		line-height: 1
	span
		a
			margin-left: $tiny-margin
			svg
				height: $medium-margin
				width: $medium-margin

#count
	margin: $small-margin auto
	color: $muted-color

.movie
	background-color: $muted-color
	display: inline-block
	margin: 0rem 1.5rem 1.5rem 0
	padding: 6px
	border-radius: 6px
	line-height: 1
	transition: all 0.125s ease
	input, label
		vertical-align: middle
		cursor: pointer
	input
		margin: 0 4px 0 0
	label
		display: inline
		margin: 0
		font-weight: normal
		user-select: none
	&:active
		background-color: lighten($text-color, 75%)
	&[title="watched"]
		font-style: italic
		opacity: 0.3
#overlay
	position: fixed
	top: 0
	width: 100%
	height: 100%
	display: flex
	align-items: center
	visibility: hidden
	opacity: 0
	transition: all 0.75s 0.125s ease
	#modal
		.panel
			margin-bottom: 0
			border: 0
			.row
				display: flex
				align-items: center
				p
					margin-bottom: 0
					&#details
						margin-bottom: $medium-margin
			.panel-body
				max-height: 450px
				color: $light-color
				background-size: cover
				#title
					margin-top: 0
				a
					color: inherit
				.overlay
					position: fixed
					top: 0
					left: 0
					width: 100%
					height: 100%
					background-color: transparentize($text-color, 0.25)
				#genres
					margin-bottom: $medium-margin
					.genre
						background-color: darken($light-color, 0.5)
						color: $text-color
						margin-right: $tiny-margin
						padding: $tiny-margin
						border-radius: $tiny-margin
						font-weight: bold
						text-transform: uppercase
				img
					max-height: 420px
					width: 100%
					object-fit: contain
				svg
					height: 16px
					width: 16px
					margin-top: -$tiny-margin
					margin-right: $tiny-margin
	&.open
		visibility: visible
		opacity: 1

@include media-query($medium-width)
	#overlay
		#modal
			width: 100%
			.panel
				.panel-body
					max-height: none
					img
						max-height: 210px
					#title
						font-size: 24px
						margin-top: 20px
					#genres, #details
						margin-bottom: $medium-margin / 2
				.row
					display: block
					.col-xs-4, .col-xs-8
						width: 100%
