header
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
			.row
				.col-xs-12
					h1 #{title}
						span.pull-right
							a(href="#{githubURL}" target="_blank")
								img(src=(environment == 'production' ? '/watchlist/svg/github.svg' : 'svg/github.svg'))
