#overlay
	#modal.container
		.row
			.col-xs-12
				.panel
					.panel-body#panel
						.overlay
						.row
							.col-xs-4
								img(src="" id="poster")
							.col-xs-8
								.row
									.col-xs-12
										h1#title
										p#genres
										p#details
										.row
											.col-xs-4
												svg
													use(xlink:href=(environment == 'production' ? '/watchlist/svg/svg.svg#calendar' : 'svg/svg.svg#calendar'))
												span#date
											.col-xs-4
												svg
													use(xlink:href=(environment == 'production' ? '/watchlist/svg/svg.svg#star' : 'svg/svg.svg#star'))
												span#rating
											.col-xs-4
												a(id="trailer" target="_blank" rel="noreferrer noopener" style="display:none")
													svg
														use(xlink:href=(environment == 'production' ? '/watchlist/svg/svg.svg#youtube' : 'svg/svg.svg#youtube'))
													span#type
