#overlay
	#modal.container
		.row
			.col-xs-12
				.panel
					.panel-body#panel
						.overlay
						.row
							.col-xs-4
								img(src="" id="poster")
							.col-xs-8
								.row
									.col-xs-12
										h1#title
										p#genres
										p#details
										.row
											.col-xs-4
												img(src=(environment == 'production' ? '/watchlist/svg/calendar.svg' : 'svg/calendar.svg') class="icon")
												span#date
											.col-xs-4
												img(src=(environment == 'production' ? '/watchlist/svg/star.svg' : 'svg/star.svg') class="icon")
												span#rating
											.col-xs-4
												a(id="trailer" target="_blank" rel="noreferrer noopener" style="display:none")
													img(src=(environment == 'production' ? '/watchlist/svg/youtube.svg' : 'svg/youtube.svg') class="icon" id="youtube")
													span#type
